.DS_Store
*.log
.htaccess
node_modules/
backend/node_modules/
backend/dist/
backend/.env
backend/.env.*
!backend/.env.example
backend/storage/
cms/node_modules/
cms/dist/
cms/.env
cms/.env.*
!cms/.env.example
.env
.env.*
!.env.example
!.env.*.example

cms-api/private-dev/
